<!--
<mat-tab-group>
  <mat-tab label="Xác nhận bằng Số điện thoại">
    <div fxLayout="column" fxLayoutAlign="space-around center">
      &lt;!&ndash;   Mat card   &ndash;&gt;
      <mat-card fxFlex.xs="100%">
        &lt;!&ndash;    Title    &ndash;&gt;
        <mat-card-title>Xác nhận bằng Số điện thoại</mat-card-title>
        &lt;!&ndash;    Conten phone    &ndash;&gt;
        <mat-card-content>
          <form [formGroup]="verifyPhoneForm" fxLayout="column">
            <mat-form-field>
              <mat-label>Nhập số điện thoại</mat-label>
              <input matInput type="tel" placeholder="Phone number" name="phone" formControlName="phone" id="phone"
                     [(ngModel)]="phone">
              <mat-error *ngIf="hasError('phone', 'required')">Phone is required!</mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        &lt;!&ndash;    Conten CAPTCHA    &ndash;&gt;
        <mat-card-content>
          <div id="recaptcha-container"></div>
        </mat-card-content>
        &lt;!&ndash;    Action    &ndash;&gt;
        <mat-card-actions>
          <button [disabled]="!verifyPhoneForm.valid && isExistedPhone === false" color="primary" (click)="sendLoginCode()" mat-raised-button>
            <mat-icon>check_circle_outline</mat-icon>
            Xác nhận
          </button>
        </mat-card-actions>
      </mat-card>

      <div class="alert alert-danger" *ngIf="isExistedPhone === true || isExistedEmail === true">
        <p>Số điện thoại đã được sử dụng</p>
      </div>
      &lt;!&ndash;      *ngIf="windowRef.confirmationResult"&ndash;&gt;

      <mat-card fxFlex.xl="100%">

        <mat-card-title>Enter your Verification Code here</mat-card-title>
        <mat-card-content>
          <form>
            <mat-form-field fxLayout="column" >
              <mat-label></mat-label>
              <input matInput type="text" id="code" name="code" placeholder="verify code" [(ngModel)]="verificationCode">
            </mat-form-field>
          </form>
        </mat-card-content>

        <mat-card-actions>
          <button [disabled]="isExistedPhone === true" mat-raised-button color="accent" (click)="verifyLoginCode()">Xác nhận</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Xác nhận bằng Email">
    &lt;!&ndash;    <form action="" [formGroup]="verifyPhoneForm" >
          <mat-form-field>
            <input matInput type="email" placeholder="Phone number" name="email" formControlName="email" id="email">
            <mat-error *ngIf="hasError('email', 'required')">Email is required!</mat-error>
          </mat-form-field>
        </form>&ndash;&gt;
  </mat-tab>
</mat-tab-group>
-->
