<!-- <div id="app">
  <nav class="navbar navbar-expand">
    <a href="/" class="navbar-brand">
      <img class="brandImage" src="./assets/image/chat.png" alt="">
    </a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <div class="btn-group btn-group-lg">
          <a href="/login" class="nav-link btn btn-outline-primary" routerLink="login">Login</a>
          <a href="/register" class="nav-link btn btn-outline-success" routerLink="register">Sign Up</a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ userName }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div> -->
<app-navdashboard></app-navdashboard>