<mat-horizontal-stepper #stepper>
  <!--Step 1-->
  <mat-step [stepControl]="verifyPhoneCodeForm && verifyPhoneForm" editable="false" disabled="true">
    <ng-template matStepLabel>Xác nhận thông tin liên lạc</ng-template>
    <!--  Tab  -->
    <mat-tab-group>
      <!--Tab Phone-->
      <mat-tab label="Xác nhận bằng Số điện thoại">
        <div fxLayout="column" fxLayoutAlign="space-around center">
          <mat-card fxFlex.xs="100%" fxLayout="column" *ngIf="!isSentCode">
            <mat-card-title>Xác nhận bằng Số điện thoại</mat-card-title>
            <mat-card-content>
              <form [formGroup]="verifyPhoneForm" fxLayout="column">
                <mat-form-field>
                  <mat-label>Nhập số điện thoại</mat-label>
                  <input matInput type="tel" placeholder="Phone number" name="phone" formControlName="phone" id="phone"
                         [(ngModel)]="phone">
                  <mat-error *ngIf="hasError('phone', 'required', verifyPhoneForm)">Phone is required!</mat-error>
                </mat-form-field>
              </form>
            </mat-card-content>
            <!--    Conten CAPTCHA    -->
            <mat-card-content>
              <div id="recaptcha-container-phone"></div>
            </mat-card-content>
            <mat-card-actions>
              <button [disabled]="!verifyPhoneForm.valid" color="primary"
                      (click)="checkExistPhone()" mat-raised-button>
                <mat-icon>check_circle_outline</mat-icon>
                Xác nhận
              </button>
            </mat-card-actions>
          </mat-card>

          <div class="alert alert-danger"
               *ngIf="(isExistedPhone === true || isExistedEmail === true) && isSentCode === true">
            <p>Số điện thoại đã được sử dụng</p>
          </div>
        </div>

        <div *ngIf="isExistedPhone === false && isSentCode === true" fxLayout="column"
             fxLayoutAlign="space-around center">
          <div *ngIf="!isVerifiedCode" class="alert alert-success">Mã xác nhận đã được gửi tới số điện thoại mà bạn đăng
            ký
          </div>
          <mat-card *ngIf="!isVerifiedCode">
            <mat-card-title>Enter your Verification Code here</mat-card-title>
            <mat-card-content>
              <form [formGroup]="verifyPhoneCodeForm">
                <mat-form-field fxLayout="column">
                  <mat-label>Mã xác nhận</mat-label>
                  <input matInput type="text" id="verificationCodePhone" name="verificationCodePhone"
                         formControlName="verificationCodePhone" placeholder="verify code" required maxlength="6"
                         [(ngModel)]="verificationCodePhone">
                  <mat-error *ngIf="hasError('verificationCodePhone', 'required', verifyPhoneCodeForm)">Mã xác nhận không
                    được để trống
                  </mat-error>
                  <mat-error *ngIf="hasError('verificationCodePhone', 'maxLength', verifyPhoneCodeForm)">Mã xác nhận gầm 6 kí
                    tự
                  </mat-error>
                </mat-form-field>
              </form>
            </mat-card-content>
            <mat-card-actions>
              <button [disabled]="!verifyPhoneCodeForm.valid" mat-raised-button color="accent"
                      (click)="verifyLoginCode()">
                Xác nhận
              </button>
            </mat-card-actions>
          </mat-card>
          <div class="example-loading-shade">
            <mat-spinner *ngIf="isLoadingResults === true"></mat-spinner>
          </div>
          <div *ngIf="isVerifiedCode" class="alert alert-success">{{ messageErrorCode }}</div>
          <div *ngIf="!isErrorCode" class="alert alert-danger">{{ messageErrorCode }}</div>
        </div>
      </mat-tab>

      <!-- Tab Email -->
      <mat-tab label="Xác nhận bằng Email">

          <div fxLayout="column" fxLayoutAlign="space-around center">
            <mat-card fxFlex.xs="100%" fxLayout="column" *ngIf="!isSentCode">
              <mat-card-title>Xác nhận bằng Email</mat-card-title>
              <mat-card-content>
                <form [formGroup]="verifyEmailForm" fxLayout="column">
                  <mat-form-field>
                    <mat-label>Nhập Email</mat-label>
                    <input matInput type="email" placeholder="example@gmail.com" name="email" formControlName="email" id="email"
                           [(ngModel)]="email">
                    <mat-error *ngIf="hasError('email', 'required', verifyEmailForm)">Email is required!</mat-error>
                    <mat-error *ngIf="hasError('email', 'pattern', verifyEmailForm)">Email sai định dạng</mat-error>
                  </mat-form-field>
                </form>
              </mat-card-content>
              <!--    Conten CAPTCHA    -->
<!--              <mat-card-content>
                <div id="recaptcha-container-email"></div>
              </mat-card-content>-->
              <mat-card-actions>
                <button [disabled]="!verifyEmailForm.valid" color="primary"
                        (click)="checkExistEmail()" mat-raised-button>
                  <mat-icon>check_circle_outline</mat-icon>
                  Xác nhận
                </button>
              </mat-card-actions>
            </mat-card>

            <button mat-raised-button (click)="checkEmailVerified()" >Check Email</button>

            <div class="alert alert-danger"
                 *ngIf="(isExistedPhone === true || isExistedEmail === true) && isSentCode === true">
              <p>Email đã được sử dụng</p>
            </div>
          </div>

          <div *ngIf="isExistedEmail === false && isSentCode === true" fxLayout="column"
               fxLayoutAlign="space-around center">
            <div *ngIf="!isVerifiedCode" class="alert alert-success">Mã xác nhận đã được gửi tới Email mà bạn đăng
              ký
            </div>
            <mat-card *ngIf="!isVerifiedCode">
              <mat-card-title>Enter your Verification Code here</mat-card-title>
              <mat-card-content>
                <form [formGroup]="verifyEmailCodeForm">
                  <mat-form-field fxLayout="column">
                    <mat-label>Mã xác nhận</mat-label>
                    <input matInput type="text" id="verificationCodeEmail" name="verificationCodeEmail"
                           formControlName="verificationCodeEmail" placeholder="verify code" required maxlength="6"
                           [(ngModel)]="verificationCodeEmail">
                    <mat-error *ngIf="hasError('verificationCodeEmail', 'required', verifyEmailCodeForm)">Mã xác nhận không
                      được để trống
                    </mat-error>
                    <mat-error *ngIf="hasError('verificationCodeEmail', 'maxLength', verifyEmailCodeForm)">Mã xác nhận gầm 6 kí
                      tự
                    </mat-error>
                  </mat-form-field>
                </form>
              </mat-card-content>
              <mat-card-actions>
                <button [disabled]="!verifyEmailCodeForm.valid" mat-raised-button color="accent"
                        (click)="verifyLoginCode()">
                  Xác nhận
                </button>
              </mat-card-actions>
            </mat-card>
            <div class="example-loading-shade">
              <mat-spinner *ngIf="isLoadingResults === true"></mat-spinner>
            </div>
            <div *ngIf="isVerifiedCode" class="alert alert-success">{{ messageErrorCode }}</div>
            <div *ngIf="!isErrorCode" class="alert alert-danger">{{ messageErrorCode }}</div>
          </div>
        </mat-tab>


    </mat-tab-group>
    <div>
      <button [disabled]="!isVerifiedCode" mat-raised-button mat-button color="accent" matStepperNext>Next</button>
    </div>
  </mat-step>

  <!--Step 2-->
  <mat-step [stepControl]="informUserForm" editable="false">
    <ng-template matStepLabel>Bổ sung thông tin các nhân</ng-template>
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-card fxLayout="column" fxFlex.md="100%" fxFill fxLayoutAlign="center center">
        <mat-card-title>Bổ sung thông tin</mat-card-title>
        <form [formGroup]="informUserForm" fxLayout="column" style="width: 50%">
          <mat-card-content fxLayout="column" fxFill>
            <mat-form-field>
              <mat-label>Họ và tên</mat-label>
              <input matInput type="text" id="userName" name="userName" formControlName="userName"
                     placeholder="Họ và tên" required minlength="1" value="dinhdangkhoa">
              <mat-error *ngIf="hasError('userName', 'required', informUserForm)">Họ tên là bắt buộc nhập
              </mat-error>
              <mat-error *ngIf="hasError('userName', 'pattern', informUserForm)">Họ tên có thể gồm chữ hoa hoa,
                chữ người, chữ số, khoảng cách và dấu '_'
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Ngày sinh</mat-label>
              <input matInput type="date" id="birthday" name="birthday" formControlName="birthday"
                     placeholder="Ngày sinh" required value="02/10/1999">
              <mat-error *ngIf="hasError('birthday', 'required', informUserForm)">Ngày sinh là bắt buộc nhập
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Mật khẩu</mat-label>
              <input matInput type="password" id="password" name="password" formControlName="password"
                     placeholder="Mật khẩu" required minlength="8" [pattern]="REGEX_PASSWORD" #password value="025825273aA">
              <mat-error *ngIf="hasError('password', 'required', informUserForm)">Mật khẩu là bắt buộc nhập
              </mat-error>
              <mat-error *ngIf="hasError('password', 'minLength', informUserForm)">Mật khẩu tối thiệu có 8 kí tự
              </mat-error>
              <mat-error *ngIf="hasError('password', 'pattern', informUserForm)">Mật khẩu có thể gồm chữ thường,
                chữ số hoặc chữ in hoa
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Xác nhận mật khẩu</mat-label>
              <input matInput type="password" id="confirmPassword" name="confirmPassword"
                     formControlName="confirmPassword" placeholder="Xác nhận mật khẩu" required
                     pattern="{{password.value}}" value="025825273aA">
              <mat-error *ngIf="hasError('confirmPassword', 'required', informUserForm)">Xác nhận mật khẩu là bắt
                buộc nhập
              </mat-error>
              <mat-error *ngIf="hasError('confirmPassword', 'pattern', informUserForm)">Mật khẩu xác nhận không
                chính xác
              </mat-error>
            </mat-form-field>
          </mat-card-content>
        </form>

        <mat-card-actions>
          <button [disabled]="!informUserForm.valid" matStepperNext mat-raised-button color="primary" (click)="registerUser(informUserForm.value)" >Đăng ký</button>
          <button mat-raised-button color="warn">Huỷ</button>
        </mat-card-actions>

      </mat-card>

    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Hoàn thành</ng-template>
    <div *ngIf="registerSuccess" class="alert alert-success">
      <h3>Tài khoảng của bạn đã được đăng ký thành công!</h3>
      <a mat-raised-button routerLink="/login">Đăng Nhập</a>
    </div>
    <div *ngIf="!registerSuccess" class="alert alert-danger">
      <h3>Việc đăng ký tài khoảng của bạn không thành công. Vui lòng đăng ký lại!</h3>

    </div>
  </mat-step>
</mat-horizontal-stepper>

<!--<div class="col-md-12">
  <div class="card card-container">
    <img id="profile-img" class="card-img-top profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      alt="">
    <form action="" *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="userName">Họ và tên</label>
        <input type="text" name="userName" id="userName" class="form-control" placeholder="Họ và tên"
          [(ngModel)]="form.userName" required minlength="3" #userName>
        <div class="alrt-danger" *ngIf="f.submitted && userName.invalid">
          <div *ngIf="userName.errors.required">
            Username is required!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="">Số điện thoại</label>
        <input type="tel" name="phoneEmail" id="phoneEmail" class="form-control" placeholder="Số điện thoại"
          [(ngModel)]="form.phoneEmail" required #phoneEmail>
        <div class="alert-danger" *ngIf="f.submitted && phoneEmail.invalid">
          <div *ngIf="phoneEmail.errors.required">
            Phone is required!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Mật khẩu</label>
        <input type="password" name="password" id="passwird" class="form-control" placeholder="Mật khẩu"
          [(ngModel)]="form.password" required #password>
        <div class="alert-danger" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">
            Password is required!
          </div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Sign Up
        </button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Sign up failed! <br /> {{errorMessage}}
      </div>

      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
    </form>
  </div>
</div>-->

<!--<mat-tab-group dynamicHeight>
  <mat-tab label="Short tab">
    <form action="" [formGroup]="verifyPhoneForm" >
      <mat-form-field>
        <input matInput type="tel" placeholder="Phone number" name="phone" formControlName="phone" id="phone">
        <mat-error *ngIf="hasError('phone', 'required')">Phone is required!</mat-error>
        <mat-error *ngIf="hasError('phone', 'pattern')"></mat-error>
      </mat-form-field>
    </form>
  </mat-tab>
  <mat-tab label="Long tab">

  </mat-tab>
</mat-tab-group>-->

<!--<mat-horizotal-stepper linear #stepper>
  <mat-step [stepControl]="firstStep" >

  </mat-step>
</mat-horizotal-stepper>-->

<!--<div *ngIf="!isSuccessful">

  <div *ngIf="!isVerifyPhoneSuccess || !isVerifyEmailSuccess">
    <app-verify-phone (isVerify)="isVerify($event)"></app-verify-phone>
  </div>
  <div *ngIf="!!isVerifyPhoneSuccess || !!isVerifyEmailSuccess">
    <section fxFlex.xs="100%">
      <mat-card>
        <mat-card-title>Thông tin bổ sung</mat-card-title>

        <form [formGroup]="requestRegisterForm" autocomplete="off" novalidate
              (ngSubmit)="registerUser(requestRegisterForm.value)"
              fxLayout="column wrap" fxLayoutAlign="space-around center" fxLayoutGap="">

          <mat-card-content>
            <mat-form-field>
              <mat-label>Họ và tên</mat-label>
              <input matInput type="tex" placeholder="Họ và tên" formControlName="userName" id="userName" #userName>
              <mat-error *ngIf="hasError('userName', 'required')">Họ tên không được để trống</mat-error>
            </mat-form-field>
          </mat-card-content>

          <mat-card-content>
            <mat-form-field>
              <mat-label>Mật khấu</mat-label>
              <input matInput type="password" placeholder="Mật khẩu" formControlName="password" id="password" #password>
              <mat-error *ngIf="hasError('password', 'required')">Mật khẩu không được bỏ trống</mat-error>
            </mat-form-field>
          </mat-card-content>

          <mat-card-content>
            <mat-form-field>
              <mat-label>Xác nhận mật khẩu</mat-label>
              <input matInput type="password" placeholder="Xác nhận mật khẩu" formControlName="confirmPassword"
                     id="confirmPassword"
                     #confirmPassword>
              <mat-error *ngIf="hasError('confirmPassword', 'required')">Xác nhận mật khẩu không được bỏ trống
              </mat-error>
            </mat-form-field>
          </mat-card-content>

          <mat-card-actions>
            <button mat-raised-button color="primary" [disabled]="!requestRegisterForm.valid">Đăng ký</button>
            <button mat-raised-button color="warn">Huỷ</button>
          </mat-card-actions>

        </form>
      </mat-card>
    </section>
  </div>


</div>

<div class="alert alert-success" *ngIf="isSuccessful">
  <p>Your registration is successful!</p>
  <a href="/login" class="nav-link" routerLink="login">Login</a>
</div>-->

<!--      <form action="" *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="userName">Họ và tên</label>
          <input type="text" name="userName" id="userName" class="form-control" placeholder="Họ và tên"
                 [(ngModel)]="form.userName" required="required" minlength="3" #userName>
          <div class="alert alert-danger" *ngIf="f.submitted && userName.invalid">
            <div *ngIf="userName.errors.required">
              Username is required!
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Mật khẩu</label>
          <input type="password" name="password" id="password" class="form-control" placeholder="Mật khẩu"
                 [(ngModel)]="form.password" required="required" #password>
          <div class="alert alert-danger" *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors.required">
              Password is required!
            </div>
          </div>
        </div>

        <div class="form-group">

          <label for="repassword">Xác nhận mật khẩu</label>
          <input type="password" name="password" id="repassword" class="form-control" placeholder="Xác nhận Mật khẩu"
                 [(ngModel)]="form.repassword" required #repassword>
          <div class="alert alert-danger" *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors.required">
              Password is required!
            </div>
            <div *ngIf="password.value !== repassword.value">
              Confirm password is not correct!
            </div>
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block">
            Sign Up
          </button>
        </div>

        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Sign up failed! <br/> {{errorMessage}}
        </div>

        <div class="alert alert-success" *ngIf="isSuccessful">
          Your registration is successful!
        </div>
      </form>-->
